.container1 {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    margin: 0;
    font-family: Roboto, sans-serif;
    flex-wrap: wrap;
    
}

.container2 {
    display: flex;
    background-color: #1f2937;
    margin: 0;
    font-family: Roboto, sans-serif;
    flex-wrap: wrap;
    
    
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    align-items: center;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;
    padding: 20px;
    

}

h1 {
    font-size: 48px;
    color: #E5E7EB;
    font-weight: bolder;
    flex-shrink: 0;
    width: 400px;
    margin-left: 250px;

}

div {
    color: #E5E7EB;
    align-items: center;
    justify-content: flex-start;
}

.pictureboxdiv {
    display: flex;
    color: white;
    justify-content: center;
    margin-right: 150px;
    height: 200px;
    width: 500px;
    background-color: gray;
    
}

.subtext {
    display: flex;
    margin-left: 400px;
    width: 300px;
    font-size: 18px;
    color: #E5E7EB;
}

.button1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    margin-top: 10px;
    
    display: flex;
    margin-left: 400px;
    background-color: #3882F6;
    color: white;
    margin-bottom: 100px;
}

#h2var1 {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
}

img {
    padding: 30px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}